In [36]:
#michael is sus

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats as stat

In [37]:
company_tweet = pd.read_csv('Data/Tweets/Company_Tweet.csv')
tweet_df = pd.read_csv('Data/Tweets/Tweet.csv')
company = pd.read_csv('Data/Tweets/Company.csv')
company_value = pd.read_csv('Data/CompanyStocks/CompanyValues.csv')

In [38]:
tweet = tweet.dropna()

In [39]:
#convert original time on tweet_df to date time
tweet_df['day_date'] = pd.to_datetime(tweet_df['post_date'], unit='s')
tweet_df['day_date'] = pd.to_datetime(tweet_df['day_date'].apply(lambda date: date.date()))

In [40]:
#order chronilogically
tweet_df = tweet_df.sort_values(by='day_date')

In [41]:
#convert time value on company stock data to date time
stock_df = company_value
stock_df['day_date']  = pd.to_datetime(stock_df['day_date'])

In [42]:
#drop un-needed features
tweet_df = tweet_df.drop(['tweet_id', 'post_date', 'comment_num', 'retweet_num', 'like_num'], axis=1)

In [43]:
#remove any stock data that is outside of the tweet data
start_day = min(tweet_df['day_date'])
print(f"Start day: {start_day}")

end_day = max(tweet_df['day_date'])
print(f"End day: {end_day}")

Start day: 2015-01-01 00:00:00
End day: 2019-12-31 00:00:00

In [44]:
stock_df = stock_df[(stock_df['day_date'] >= start_day) & (stock_df['day_date'] <= end_day)]

In [45]:
#sort stock data chronilogically
stock_df = stock_df.sort_values(by="day_date")
stock_df.head()

,ticker_symbol,day_date,close_value,volume,open_value,high_value,low_value
2517,AAPL,2015-01-01,110.38,41304780,112.82,113.13,110.21
10810,GOOG,2015-01-01,526.40,1367110,531.25,532.60,525.80
8687,GOOGL,2015-01-01,530.66,1235889,537.74,538.40,530.20
16960,TSLA,2015-01-01,222.41,2392947,223.09,225.68,222.25
5602,AMZN,2015-01-01,310.35,2048676,311.55,312.98,310.01

In [46]:
APPL_df = stock_df.loc[stock_df['ticker_symbol'] == 'AAPL']

GOOG_df = stock_df.loc[stock_df['ticker_symbol'] == 'GOOG']
GOOGL_df = stock_df.loc[stock_df['ticker_symbol'] == 'GOOGL']


TSLA_df = stock_df.loc[stock_df['ticker_symbol'] == 'TSLA']
AMZN_df = stock_df.loc[stock_df['ticker_symbol'] == 'AMZN']
MSFT_df = stock_df.loc[stock_df['ticker_symbol'] == 'MSFT']

In [47]:
APPL_df = APPL_df.drop(['ticker_symbol', 'day_date', 'volume', 'high_value', 'low_value'], axis=1)

APPL_df.head()

      close_value  open_value
2517       110.38      112.82
1360       109.33      111.39
2518       109.33      111.39
2519       109.33      111.39
1359       106.25      108.29

In [48]:
APPL_open = APPL_df['open_value'].to_numpy()
APPL_close = APPL_df['close_value'].to_numpy()

In [63]:
def accuracy(error):
    count = 0
    for i in range (0, APPL_open.size):
        if APPL_open[i] == APPL_close[i]:
            count = count + 1
        elif APPL_open[i] >= APPL_close[i] - APPL_close[i]*error and APPL_open[i] <= APPL_close[i] + APPL_close[i]*error:
            count = count + 1
    return count/APPL_open.size * 100

In [66]:
print(accuracy(0.005))

40.251916757940855